---
layout: default
---

<div class="container row">
    <h1 class="cv-title"><span class="black white-text">{{ site.title }}</span></h1>
    <h2>Group 16 Unessay</h2>

    <div class="header">
        <p>
            This page contains a timeline of some of the most important milestones in the history of cryptography.
            Enjoy your trip through time as you learn about how keeping secrets evolved over the ages!<br>
            Jump to:
            <span><a href=#ancient>Ancient Times</a> - <a href=#medieval>Medieval Times</a> - <a href=#renaissance>The Renaissance</a> - <a href=#twentieth>20th Century</a> - <a href=#modern>21st Century</a></span>
            <br>
            <br>
            <span class="credits">Created for CPSC 329 by: Zack Hassan, Bhavan Pahuja, Catherine Kuervers, Sipeng He, Oluwatoni Osho</span>
        </p>
    </div>

    <div id="ancient">
    {% assign steps = site.ancient | sort: 'order' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{step.start}} B.C.</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    </div>
    
    <div id="medieval">
    {% assign steps = site.medieval | sort: 'order' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.start}}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    </div>

    <div id="renaissance">
    {% assign steps = site.renaissance | sort: 'order' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.start}}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    </div>

    <div id="twentieth">
    {% assign steps = site.twentieth | sort: 'order' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.start}}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    </div>

    <div id="modern">
    {% assign steps = site.modern | sort: 'order' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.start}}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    </div>  
    
    <div class="last-item">
        <i class="vertical-line"></i>
        
    </div>
    </div>